*
{
  position : absolute;
  margin   : 0;
  padding  : 0;
  width    : 0;
  height   : 0;
  color    : white;
          transition-property: background,color,opacity,box-shadow,        transform,top,bottom;
     -moz-transition-property: background,color,opacity,box-shadow,   -moz-transform,top,bottom;
  -webkit-transition-property: background,color,opacity,box-shadow,-webkit-transform,top,bottom;
          transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-duration: 0.90s;
     -moz-transition-duration: 0.90s;
  -webkit-transition-duration: 0.90s;
  overflow:hidden;
}

body
{
  background: #000;
  display: block;
}

#nacl_container
{
  width : 1920px;
  height: 1080px;
}

#nacl_target
{
  width : 1920px;
  height: 1080px;
}

#indicator
{
  border-radius: 6px;
  background: hsla(0,50%,50%,1);
  width: 10%;
  height: 10%;
  position: fixed;
  margin-left: -5%;
  margin-top: -5%;
  left:50%;
  top:50%;
  opacity:0.5;
}

#indicator *
{
  width: 100%;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 18px;
  text-shadow: 2px 2px 4px black;
}

#indicator_key
{
  top:4px;
  text-align:center;
}

#indicator_value
{
  font-size:35px;
  text-align:right;
}

body > header
{
  border-radius: 0 0 20px 20px;
  position:fixed;
  width:1912px;
  height:43px;
  padding-top:3px;
  opacity:0.333;
  top:-36px;
  left:4px;
  background: hsla(0,50%,50%,0.8);
}

body > header:hover
{
  opacity:1;
  top:-3px;
}

body > header > h1
{
  width: 100%;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 28px;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

body > footer
{
  border-radius: 20px 20px 0 0;
  position:fixed;
  width:1912px;
  height:43px;
  padding-top:3px;
  opacity:0.333;
  bottom:-38px;
  left:4px;
  background: hsla(0,50%,50%,0.8);
}

body > footer:hover
{
  opacity:1;
  bottom:-3px;
}

body > footer *
{
  width: auto;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 18px;
  text-shadow: 2px 2px 4px black;
}

body > footer > dl
{
  padding-left:8px;
}

body > footer dt,
body > footer dd
{
  margin-left: 4px;
}


