*
{
  position : absolute;
  margin   : 0;
  padding  : 0;
  width    : 0;
  height   : 0;
  color    : white;
          transition-property: background,color,opacity,box-shadow,        transform,top,bottom;
     -moz-transition-property: background,color,opacity,box-shadow,   -moz-transform,top,bottom;
  -webkit-transition-property: background,color,opacity,box-shadow,-webkit-transform,top,bottom;
          transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
          transition-duration: 0.90s;
     -moz-transition-duration: 0.90s;
  -webkit-transition-duration: 0.90s;
  overflow:hidden;
}

html,
body,
body > article,
body > article > div,
body > article > div > embed
{
  width: 100%;
  height: 100%;
}

body
{
  background: #000;
  display: block;
}

#nacl_container
{
  width : 100%;
  height: 100%;
}

#nacl_target
{
  width : 100%;
  height: 100%;
}

#indicator
{
  border-radius: 0.78em;
  background: hsla(0,50%,50%,1);
  width: 10em;
  height: 5em;
  position: fixed;
  margin-left: -5%;
  margin-top: -5%;
  left:50%;
  top:50%;
  opacity:0.5;
}

#indicator *
{
  width: 100%;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 1.3333333em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#indicator_key
{
  top:4px;
  text-align:center;
}

#indicator_value
{
  font-size:2em;
  text-align:center;
}

body > header
{
  border-radius: 0 0 0.5em 0.5em;
  position:fixed;
  width:98%;
  height:40px;
  padding-top:0;
  opacity:0.333;
  top:-30px;
  left:1%;
  background: hsla(0,50%,50%,0.8);
}

body > header:hover
{
  opacity:1;
  top:0;
}

body > header > h1
{
  width: 100%;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 2em;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

body > footer
{
  border-radius: 0.5em 0.5em 0 0;
  position:fixed;
  width:98%;
  height:200px;
  padding-top:0;
  opacity:0.333;
  bottom:-190px;
  left:1%;
  background: hsla(0,50%,50%,0.8);
}

body > footer:hover
{
  opacity:1;
  bottom:0;
}

body > footer *
{
  width: auto;
  height: auto;
  display : inline-block;
  overflow: visible;
  position: relative;
  font-size: 1em;
  text-shadow: 0.1em 0.1em 0.2em black;
}

body > footer > dl
{
  padding-left:1em;
}

body > footer dt,
body > footer dd
{
  display: block;
}

body > footer dd
{
  margin-left: 2em;
  display: inline-block;
}
